[submodule "external/SDL"]
	path = external/SDL
	url = git://github.com/aduros/SDL.git
[submodule "external/mozjs/mozilla-central"]
	path = external/mozjs/mozilla-central
	url = https://github.com/doublec/mozilla-central.git
